{% extends "around_be/base.html" %}
{% load staticfiles %}

{% block add-header %}
  <script type="text/javascript" src="{% static 'around_be/js/spots.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container spacer-l">
  <table id="table">
    <tbody id="tbody">
      {% for m in messages %}
      <tr id="tr{{m.id}}">
        <td style="width: 90px;"><img src="{{m.img_url}}" height="30" width="40"></td>
        <td id="td{{m.id}}"><a href="#" class="clickme" id="{{m.id}}">{{m.title}}</a></td>
      </tr>
      {% empty %}
      <tr>
        <td>loading...</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
</div>
{% endblock %}
